.draken-centered {
    justify-content: center;
}

.draken-box {
    border-left: solid 3px $blue;
    background: $white;
    font-size: $size-6;
    font-weight: $weight-bold;
    padding: 20px;
    box-shadow: 0 5px 15px rgba($black, 0.15), 0 0 0 1px rgba($blue, 0.2);
    border-radius: 5px;
}
