{{- if eq .page.Type "fotogalerie" -}}
	{{- if isset .page.Params "cover" -}}
		{{- if hasPrefix .page.Params.cover "/" -}}
			{{- $thumb := replace .page.Params.cover "." "_TYPE." -}}
			{{- replace $thumb "TYPE" .thumbType -}}
		{{- else -}}
			{{- $thumb := .page.Params.cover -}}
			{{- $thumb := replaceRE "^(.+)\\.([a-z]+)" "/${1}_TYPE.$2" $thumb -}}
			{{- $thumb := replace $thumb "TYPE" .thumbType -}}
			{{- $path := .page.File.Path -}}
			{{- $path := replace $path "fotogalerie" "thumbnails" -}}
			{{- $path := replaceRE "^([^/])" "/$1" $path -}}
			{{- replace $path ".html" $thumb -}}
		{{- end -}}
	{{- else -}}
		{{- $path := .page.File.Path -}}
		{{- $path := replace $path "fotogalerie" "photos" -}}
		{{- $path := replace $path ".md" "" -}}

		{{-  range first 1 (readDir (delimit (slice "static" $path) "/")) -}}
			{{- $thumb := replace .Name "." (delimit (slice "_" $.thumbType ".") "") -}}
			{{- replace $path "photos" "/imgs/thumbs" -}}/{{- $thumb -}}
		{{- end -}}
	{{- end -}}
{{- else if (eq .page.Type "video") -}}
	{{- delimit (slice "/thumbnails/video/" .page.Params.video "_" $.thumbType ".jpg") "" -}}
{{- else if isset .page.Params "thumbnail" -}}
	{{- if hasPrefix .page.Params.thumbnail "/" -}}
		{{- $thumb := replace .page.Params.thumbnail "." "_TYPE." -}}
		{{- $thumb := replace $thumb "images" "imgs" -}}
		{{- replace $thumb "TYPE" .thumbType -}}
	{{- end -}}
{{- else if (eq "" "") -}}
	{{- $thumbsDir := "/static/imgs/pages/" -}}
	{{- $thumbsList := readDir $thumbsDir -}}
	{{- $pageThumb := delimit (slice .page.File.BaseFileName "_" $.thumbType ".jpg") "" -}}
	{{- range $thumbsList -}}
		{{- if hasPrefix .Name $pageThumb -}}
			/imgs/pages/{{ .Name }}
		{{- end -}}
	{{- end -}}
{{- else if (eq .page.Type "external") -}}
	/images/pages/galerie_{{ .thumbType }}.png
{{- else if (eq .page.Type "fotogalerie") -}}
	/images/pages/galerie_{{ .thumbType }}.png
{{- else if (eq .page.Type "komentare") -}}
	/images/pages/komentare_{{ .thumbType }}.png
{{- else if (eq .page.Type "aktuality") -}}
	/images/pages/aktuality_{{ .thumbType }}.png
{{- else -}}
	/images/pages/unknown_{{ .thumbType }}.png
{{- end -}}

