.section {
    background-color: transparent;
}

.footer {
    background-color: $light;
}

.nav {
    background-color: transparent;
}

.nav-item {
    text-transform: uppercase;
    font-weight: $weight-bold;
    img {
        max-height: $nav-height;
    }
    @include mobile {
        img {
            max-height: 3.5rem;
        }
    }
}

.navitem a, a.nav-item {
    color: $dark-blue;
}

.card {
    border-radius: 3px;
    box-shadow: $shadow-thin;
}

.content p {
    margin-top: 1em;
}

pre {
    font-size: $size-6;
    @include desktop {
        margin: 10px 100px;
    }
}

.image {
    margin: 0 auto;
}

.is-6 {
    font-weight: $weight-bold;
}