{{ define "banner" }}
<!-- No banner -->
{{ end }}

{{ define "main" }}

<div class="container">
    <div class="columns">
        <div class="column">
            <h2 class="title">{{ .Title }}</h2>
        </div>
    </div>

    <div>
        {{ range .Data.Pages }}
            <div class="columns match-comment-list-item">
                <div class="column is-2">
                    <div class="calendar-icon">
                        <span class="day">{{ dateFormat "2" .Params.gamedate }}</span>
                        <span class="month">{{ index .Site.Data.system.date.month (dateFormat "1" .Params.gamedate) }}</span>
                        <span class="year">{{ dateFormat "2006" .Params.gamedate }}</span>
                    </div>
                </div>
                <div class="column is-2 has-text-centered">
                    <strong>
                    <div class="group-name">{{ index .Site.Data.groups .Params.group }}</div>
                    &mdash;
                    <div class="contest-name">{{ index .Site.Data.contests .Params.contest }}</div>
                    </strong>
                </div>
                <div class="column is-6 description">
                    <div>
                        {{ if isset .Params "hometeam" }}
                        <div>
                            <h2 class="title">
                                <a href="{{ .URL }}">{{ .Title }}</a>
                            </h2>
                        </div>
                        <div class="score-board">
                            <div class="home-team">
                                <h2>{{ .Params.hometeam }}</h2>
                            </div>
                            <div class="box">{{ .Params.homescore }}:{{ .Params.guestscore }}</div>
                            <div class="guest-team">
                                <h2>{{ .Params.guestteam }}</h2>
                            </div>
                        </div>
                        {{ else }}
                        <div>
                            <h2 class="title">
                                <a href="{{ .URL }}">{{ .Title }}</a>
                            </h2>
                            {{ if gt (len .Summary) 200 }}
                                <p>{{slicestr .Summary 0 200}}...</p>
                            {{ end }}
                        </div>
                        {{ end }}
                    </div>
                </div>
                <div class="column is-2 has-text-centered">
                    <div class="is-hidden-tablet action">
                        <a href="{{ .URL }}">
                            Zobrazit komentář
                        </a>
                    </div>
                    <div class="is-hidden-mobile">
                        <a href="{{ .URL }}">
                            <span class="icon is-large"><i class="fa fa-arrow-circle-right"></i></span>
                            <br />
                            <b>Zobrazit komentář</b>
                        </a>
                    </div>
                </div>
            </div>
        {{ end }}
    </div>
</div>

{{ end }}