<div class="container">
    <div id="links" class="columns is-multiline is-mobile">
        {{ range .galData }}
            {{- $photo := .url -}}
            {{- $thumb := replace $photo ".jpg" "_m.jpg" -}}
            {{- $thumb := replace $thumb "photos" "imgs/thumbs" -}}

            <div class="column is-2-desktop is-3-tablet is-4-mobile">
                <a href="{{ $photo }}">
                    <img src="{{ $thumb }}" />
                </a>
            </div>
        {{ end }}
    </div>
</div>
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div> <h3 class="title"></h3>
    <a class="prev">‹</a> <a class="next">›</a>
    <a class="close">×</a> <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
