<script type="application/x-javascript">
    addEventListener("load", function () { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar() { window.scrollTo(0, 1); }
</script>
<script type="application/x-javascript" src="{{ .Site.BaseURL }}js/vendor/jquery.js"></script>
<script type="application/x-javascript" src="{{ .Site.BaseURL }}js/vendor/jquery.justifiedGallery.js"></script>
<script type="application/x-javascript" src="{{ .Site.BaseURL }}js/vendor/jquery.mousewheel.js"></script>
<script type="application/x-javascript" src="{{ .Site.BaseURL }}js/vendor/jquery.contentcarousel.js"></script>
<script type="application/x-javascript" src="{{ .Site.BaseURL }}js/vendor/jquery.easing.1.3.js"></script>
<script type="application/x-javascript" src="{{ .Site.BaseURL }}js/vendor/jquery.mixitup.js"></script>
<script type="application/x-javascript" src="{{ .Site.BaseURL }}js/vendor/jquery.ui.totop.js"></script>
<script type="application/x-javascript" src="{{ .Site.BaseURL }}js/vendor/blueimp/blueimp-helper.js"></script>
<script type="application/x-javascript" src="{{ .Site.BaseURL }}js/vendor/blueimp/blueimp-gallery.js"></script>
<script type="application/x-javascript" src="{{ .Site.BaseURL }}js/vendor/blueimp/blueimp-gallery-fullscreen.js"></script>
<script type="application/x-javascript" src="{{ .Site.BaseURL }}js/vendor/blueimp/blueimp-gallery-indicator.js"></script>
<script type="application/x-javascript" src="{{ .Site.BaseURL }}js/vendor/blueimp/blueimp-gallery-video.js"></script>
<script type="application/x-javascript" src="{{ .Site.BaseURL }}js/vendor/blueimp/blueimp-gallery-vimeo.js"></script>
<script type="application/x-javascript" src="{{ .Site.BaseURL }}js/vendor/blueimp/blueimp-gallery-youtube.js"></script>
<script type="application/x-javascript" src="{{ .Site.BaseURL }}js/vendor/videojs/video.js"></script>
<script type="application/x-javascript" src="{{ .Site.BaseURL }}js/vendor/videojs/video-js_lang_cs.js"></script>
<script type="application/x-javascript" src="{{ .Site.BaseURL }}js/alry.js"></script>